body {
    background-color: #fafafa
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
    border-bottom: 1px solid #dbdbdb
}

.page-holder, .header-content {
    max-width: 935px;
    margin: 0 auto;
}

.header-content, .header-mobile {
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px
}

.header-mobile {
    display: none;
}

.header-menu ion-icon {
    margin-left: 25px;
}

ion-icon {
    --ionicon-stroke-width: 40px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-menu {
    display: flex;
}

header input {
    width: 215px;
    height: 28px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

header input::placeholder {
    text-align: center
}

.page-holder {
    display: flex;
    margin-top: 54px;
}

.stories-holder {
    width: 100%;
    max-width: 603px;
    height: 118px;
    display: flex;
    align-items: center;
    padding-left: 11px;
    margin: 34px 0 24px 0;
    background-color: #ffffff;
    overflow: hidden;
    border: 1px solid #dbdbdb
}

.stories-post {
    margin: 0 7px; 
    text-align: center;
    flex-shrink: 0;
}

.stories-post div {
    background-image: url("public/stories_background.jpg");
    background-size: cover;
    height: 66px;
    width: 66px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stories-post img {
    width: 56px;
    border-radius: 50%;
}

.stories-holder button {
    position: absolute;
    z-index: 0;
    margin-left: 569px;
    display: flex;
    align-items: center;
    background-color: #00000000;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    padding: 0;
    border-style: none;
}

.feed-holder {
    /* width: 100%; */
    max-width: 614px;
}

.feed-post {
    width: 100%;
    margin-bottom: 60px;
    border: 1px solid #dbdbdb
}

.feed-holder img {
    width: 100%;
    display: block;
}

.feed-account {
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px
}

.feed-account div {
    display: flex;
}

.feed-account img {
    width: 32px;
    border-radius: 50%;
}

.feed-account p {
    margin: auto 15px;
}

.feed-info {
    height: 76px;
    font-size: 17px;
}

aside {
    position: fixed;
    margin-left: 642px;
    width: 293px;
    height: 200px;
    background-color: #555555;
    margin-top: 34px;
}

@media (max-width: 935px) {
    aside {
        display: none
    }
    .page-holder {
        justify-content: center;
    }
}

@media (max-width: 614px) {
    .page-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stories-holder {
        margin: 0;
        border: none;
        background-color: #00000000;
    }

    .stories-holder button {
        display: none
    }

    .header-content {
        display: none
    }

    .header-mobile {
        display: flex
    }
}